@import "reset.css";
@import "style.css";
@import "style2.css";
@import "style3.css";
@import "style4.css";
@import "fonts.css";

.title{
font-family: "pt-sans-caption";
font-size: 40px;
}
.db-all-container{
	text-align: center;
	padding:25px 0;
	background-color: #47484b;
	font-family: "pt-sans-caption";
	font-size:20px;


	.db-header{
		color:#fff;	
		padding:25px 0;
		font-size:30px;
	}
	.db-input-one{
		padding:25px 0;
	
		input[type="text"]{
			padding:10px 10px 10px 0;
		}
	}			
	.db-input-two{

input[type="text"]{
			padding:10px 10px 10px 0;
		}
	}
	.db-input-three{
		padding:25px 0;
		
		input[type="submit"]{
			background-color: #fab445; 
			padding:10px;
			color:#fff;
			border:none;
			width: 200px;
		}
	}
}

@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
.db-all-container{

 padding-bottom:60px;

	.db-input-one{
		padding:0;
		
	}			
	.db-input-two{
	}
	.db-input-three{
		padding:0px;
	
			
}
}
}

@media only screen and (min-width : 1248px) {
	.db-all-container{
	text-align: center;
	padding: 45px 0 65px 190px;
	font-size:20px;
	width:100%;
	margin: 0 auto;
 

	.db-header{
		padding: 19px 279px 30px 0;
	}
	.db-input-one{
		padding:0;
		max-width:300px;
		width:90%;
		input[type="text"]{
			padding:10px 0 10px 18px;
			width:300px;
		}
	}			
	.db-input-two{
		width:90%;
		max-width:300px;
		margin-left: -62px;
input[type="text"]{
			padding: 10px 0 10px 18px;
			width:300px;
		}
	}
	.db-input-three{
		padding:1px;
		width:200px;
		margin-left: -121px;
		input[type="submit"]{
		width:200px;
			padding:10px;
			
		}
}
}
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}