.clear{
	clear: both;
}

//====ydobstvo
.df-bg-noski{
	background-image: url(/img/df-bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	min-height: 400px;	
	width: 100%; 	
		h2{
		text-align: center;
		text-transform: uppercase;
		font-size: 36px;
		color:#2b2b2b;
		margin-top: 35px;
		margin-bottom: 450px ;
		font-family: "pt-sans-caption";
		letter-spacing: -4px;
	}		
	.df-2box{
		font-family: "pt-sans-caption";
		text-align: center;		
		.df-right, .df-left{
			display: inline-block;
			// float: left;
			font-family: "pt-sans-caption-bold";
			margin-bottom: 20px;			
			text-align: left;
			span{
				font-size: 18px;
				color:#2b2b2b;
				display: block;
				padding: 5px 0 5px 36px;
				background-image: url(/img/df-minus.png);
				background-position: left center;
				background-repeat: no-repeat;
				margin-bottom: 9px;
				
			}
		}
		.df-right{				
			span{				
				color:#fcb446;				
				padding: 5px 0 5px 30px;
				background-image: url(/img/df-plus.png);
				background-position: left center;
				background-repeat: no-repeat;				
			}
		}
	}
}


//========otzivi
a:active, a:focus{
	outline: none;
}
.df-one{
	display: none;
}
.df-bg{
	background: #f2f2f2;
}
.df-ozivi{
	.title{
		text-transform: uppercase;
		text-align: center;
		margin: 25px 0 25px 0;//57
		font-size: 30px;
	}
	.df-otz-tab{
		// background-image: url(/img/df-bg-otz.png);
		// background-repeat: repeat-x;
		// background-position: center top 31px; 
		padding: 0 20px;
		margin-bottom: 40px;
		text-align: center;
		.df-active{
			border:4px solid #fab445;
		}
		a{
			display: inline-block;
			border-radius: 50px;
			border:4px solid #6d6d6d;
			width: 68px;
			height: 68px;
			margin:0 20px 20px 0px;//115
			// margin-bottom: 20px;
			img{
				width: 100%;
				height: 100%;
			}
		}
		a:last-child{
			// margin-right: 0px;
		}		
	}
	.df-text{
		font-family: "pt-sans-caption";
		padding: 0 0px;//90
		margin-bottom: 25px;
		span{
			font-size: 14px;
			color:#777777;
			line-height: 17px;
			display: inline-block;
			margin-bottom: 9px;
		}
		p{
			font-size: 16px;
			color:#121212;
			line-height: 20px;
		}
	}
}


//questions
.df-bg-white{
	background: #fff;
	
	// text-align: center;
	margin: 0 auto;
	.title{
		color:#777777;
		text-align: center;
		margin: 25px 0 25px 0;
		text-transform: uppercase;
		font-size: 35px;
	}
	.df-questions{
		font-family: "pt-sans-caption";
		padding:0  20px;
		margin-bottom: 32px;
		h4{
			font-size: 20px;
			color:#121212;			
			margin-bottom: 5px;			
		}
		p{
			font-size: 18px;
			color:#e89f2c;
			margin-bottom: 22px;
			// padding-left: 65px;
			padding-top: 30px;
			background-image: url(/img/df-otvet.png);
			background-repeat: no-repeat;
			background-position: top ; //left top
			line-height: 22px;
		}
	}
}

//========select-your-case
.df-bg-orange{
	background: #fcb446;
	padding-bottom: 80px;
	h2{
		color:#fff;
		text-align: center;
		margin: 55px 0;
		font-size: 40px;
		text-transform: uppercase;
		font-family: "pt-sans-caption";
	}
	.df-box-case{
		display: inline-block;		
		text-align: center;
		margin: 0 55px 40px 0;
		.df-span1{
			color:#a16d1e;
			font-size: 15px;
			font-family: "pt-sans-caption";
		}
		.df-span2{
			font-family: "pt-sans-caption-bold";
			font-size: 21px;
			color:#121212;
			text-transform: uppercase;
		}		
		.df-case{
			background: #fff;			
			font-family: "pt-sans-caption";
			width: 320px;
			
			padding-bottom: 20px;
			
			img{
				text-align: center;
				display: inline-block;
			}
			.df-vigodno{
				background-image: url(/img/df-cool.png);
				background-repeat: no-repeat;
				background-position: center center;
				color:#797979;
				font-size: 15px;				
				text-transform: uppercase;
				display: block;
				padding: 19px 60px 19px 0;
			}
			.df-chose{
				font-size: 13px;
				color:#8b8781;
				display: block;
				text-align: left;
				padding-left: 20px;
				margin: 7px 0 15px 0;
			}
			.df-inputs{	
				text-align: left;
				padding: 0 20px ;		
				.checkbox {
				    display: none;
				}
				.checkbox-custom {
				    position: relative;      
				    width: 19px;             
				    height: 19px;          
				    border: 2px solid #bebebe;
				    background:none;
				    margin-bottom: 15px;				 			    
				}
				.checkbox-custom:hover{
					 border: 2px solid #fcb446;
				}				
				.checkbox-custom,
				.label {
				    display: inline-block;
				    vertical-align: top;
				}				
				.checkbox:checked + .checkbox-custom::after {
				    content: "";            
				    display: block;          
				    position: absolute;   
				    top: 0px;
				    right: 0;
				    bottom: 0;				   
				    left: 0px;
				    border:none;
				    background-image: url(/img/df-galka.png);
				    background-repeat: no-repeat;
				    border: 2px solid #fcb446;		   
				}


				.df-price{
					font-size: 15px;
					color:#121212;
					font-family: "pt-sans-caption-bold";
					span{
						font-family: "pt-sans-caption";
						color:#8b8781;
					}
				}
			}
			
			.df-link{
				margin: 20px 20px 0 20px;
				min-height: 45px;
				font-size: 14px;
				color:#121212;
				font-family: "pt-sans-caption-bold";
				text-transform: uppercase;
				padding: 14px 49px;//59
				border-bottom: 3px solid #9b6510;
				background-color: #fab445 ;
				box-shadow: 0 3px 0 #9b6510, inset 0 22px 0 rgba(255, 255, 255, 0.24);
				-webkit-box-shadow: 0 3px 0 #9b6510, inset 0 22px 0 rgba(255, 255, 255, 0.24);
			  	vertical-align: top;

			  	display: inline-block;
			  	transition: all 0.5s;
			  	-moz-transition: all 0.5s;
			  	-webkit-transition: all 0.5s;
			}
			.df-link:hover{
				border-bottom: 1px solid #9b6510;

				color:#fff;				
				background-color: #fab445 ;
				box-shadow: 0 3px 0 #9b6510, inset 0 22px 0 rgba(255, 255, 255, 0.24);
				-webkit-box-shadow: 0 3px 0 #9b6510, inset 0 22px 0 rgba(255, 255, 255, 0.24);
				transition: all 0.5s;
			  	-moz-transition: all 0.5s;
			  	-webkit-transition: all 0.5s;
			}
		}
	}
}

@media only screen and (min-width : 320px) {
	.df-bg-noski{
		h2{
			margin-bottom: 520px ;// 700 	
		}
	}	
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
	.df-bg-noski{			
		height: 100%;
		h2{						
			font-size: 50px;
			margin-top: 55px; 
			margin-bottom: 423px ;// 475
		}		
		.df-2box{
			.df-left{			
				float: left;			
				margin-bottom: 30px;			
			}
			.df-right{					
				float: right;			
				margin-bottom: 30px;				
			}
		}
	}
	

	//otzivi
	.df-ozivi{
		.title{	
			margin: 45px 0 48px 0;
			font-size: 40px;
		}
		.df-otz-tab{
			background-image: url(/img/df-bg-otz.png);
			background-repeat: repeat-x;
			background-position: center top 34px; 
			padding: 0 40px;
			margin-bottom: 40px;		
			a{			
				margin-right: 40px;//115
							
			}
			a:last-child{
				margin-right: 0px;
			}		
		}
		.df-text{
			font-family: "pt-sans-caption";
			padding: 0 114px;
			margin-bottom: 25px;	
		}
	}

	//otzivi
	.df-bg-white{
	
	.title{		
		margin: 70px 0 65px 0;
		font-size: 40px;		
	}
	.df-questions{		
		p{			
			padding-left: 65px;
			padding-top: 0px;
			background-image: url(/img/df-otvet.png);
			background-position: left top; 			
		}
	}
}

}

@media only screen and (min-width : 992px) {
	.df-bg-noski{		
		.df-2box{
			.df-left{					
				margin-left: -11px;	
			}
			.df-right{		
				margin-right: 20px;	
			}
		}
	}

	

}

@media only screen and (min-width : 1248px) {
	//otzivi
	.df-ozivi{	
		.df-otz-tab{		
			a{			
				margin-right: 115px;//115
				margin-bottom: 0px;			
			}				
		}	
	}

}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {

}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}